name: Build and deploy native image
on:
  push:
    branches:
      - master
      - dev
jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v2
            - uses: graalvm/setup-graalvm@v1
              with:
                version: '22.1.0'
                java-version: '18'
                components: 'native-image'
                github-token: ${{ secrets.GITHUB_TOKEN }}
            - name: Build native image
              run: ./build.sh
            - name: Login to Azure
              uses: azure/login@v1
              with:
                creds: ${{ secrets.AZURE_CREDENTIALS }}
            - name: 'Deploy to Azure Function'
              uses: Azure/functions-action@v1
              with:
                app-name: ${{ secrets.AZ_FUNCTION_NAME_APP }}
                package: target/native_spring_function.zip
